{% extends 'base.html' %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Tez-tez soruşulan suallar</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Əsas səhifə</a></li>
                    <li class="breadcrumb-item"><a href="#">Digər səhifələr</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tez-tez soruşulan suallar</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="fs-5 fw-bold text-primary"></p>
                    <p class="fs-5 fw-bold text-primary">Torpaqsız Kənd Təsərrüfatı nədir?</p>
                    <p class="mb-4">Torpaqla heç bir təmas etmədən və torpaqdan başqa düzgün materiallardan istifadə etməklə bitki becərmə mühitini hazırlamağa və nəzarətli istehsal həyata keçirməyə imkan verən müasir kənd təsərrüfatı istehsal üsuludur.</p>
                   
                    <p class="fs-5 fw-bold text-primary">Niyə torpaqsız əkinçilik aparılmalıdır?</p>
                    <p class="mb-4">»Vahid sahəyə daha çox məhsul</p>
                    <p class="mb-4">»Torpaqla təması olmadığı üçün zərərvericilərdən uzaqdır </p>
                    <p class="mb-4">»Erkən məhsul yığa bilmək </p>
                    <p class="mb-4">»İlin 4 Fəsli məhsul yığımı </p>
                    <p class="mb-4">»Bitki məhsuldarlığının artması </p>
                    <p class="mb-4">»90%-ə qədər az və daha səmərəli su istifadəsi </p>

                    <p class="fs-5 fw-bold text-primary">1000 m² Hidroponik NFT Sistemində İstehsal Gücü nə qədərdir?</p>
                    <p class="mb-4">Məhsullardan asılı olaraq dəyişsə də, Torpaqsız Kənd Təsərrüfatı su mədəniyyəti NFT sistemlərində, yəni üfüqi düz istehsal sistemlərində</p>
                    <p class="mb-4">»Kahı tipli məhsullar üçün orta hesabla 13.000 – 14.000 ədəd </p>
                    <p class="mb-4">»Reyhan kimi aromatik bitkilər üçün orta hesabla 25.000 - 30.000 ədəd </p>
                    <p class="mb-4">»Ümumi tutumumuz 1000 m² dir. </p>

                    <p class="fs-5 fw-bold text-primary">Torpaqsız əkinçiliklə tarla istehsalı arasındakı fərq nədir?</p>
                    <p class="mb-4">Məhsullardan asılı olaraq dəyişsə də, tarla istehsalı ilə torpaqsız kənd təsərrüfatı istehsalı arasında məhsul istehsal gücündə orta hesabla 2-4 dəfə fərq var. 
                        Məsələn, tarla şəraitində 1000 m²-ə orta hesabla 6500-7500 ədəd kahı əkmək mümkün olduğu halda, torpaqsız kənd təsərrüfatında bu rəqəm 14000-dir. Göründüyü kimi, istehsal gücündə 2 dəfə fərq var.</p>
                        
                    <p class="mb-4">Lakin ən mühüm tərəfi odur ki, tarla istehsalı üçün mövsüm orta hesabla ildə iki dəfə əkin və məhsul yığımı ilə başa çatır. Torpaqsız kənd təsərrüfatında biz ildə cəmi 7-8 dəfə məhsul veririk, yəni bu ümumi gücü bütün il boyu davamlı şəkildə istehsal edə bilərik.</p>
                  
                    <p class="fs-5 fw-bold text-primary">Torpaqsız əkinçilik üçün istifadə olunan gübrə məhlulları və pestisidlər tarla istehsalı ilə müqayisədə zərərlidirmi?</p>
                    <p class="mb-4">Torpaqsız əkinçilikdə istifadə edilən gübrə məhlulları normal torpaq əkinçiliyində istifadə olunan tamamilə standart gübrələrdir. Lakin bu gübrələr müəyyən nisbətlərdə qarışdırılır və bitkiyə lazım olan miqdarda verilir. Torpaqsız əkinçilikdə istehsal etdiyimiz bitkilər üçün müxtəlif qarışıq formulaları mövcuddur. Bu qarışıqlarla bitkilər ehtiyac duyduqları qədər bitki qida maddələrini əldə edə və beləliklə daha sağlam böyüyə bilərlər.</p>

                    <p class="mb-4">Pestisidlərə gəlincə, torpaqsız əkinçilikdə torpaqla təmasda olmadığımız üçün torpaqdan gələ biləcək xəstəlik və zərərvericilərdən uzaq olduğumuz üçün bitkilərimizə xəstəlik və zərərvericilər gəlmir. Bu səbəbdən ətraf mühitin steril olmasını təmin etmək üçün pestisidlərdən istifadə etmirik. Bu lazım deyil. Tamamilə dərmansız və bitkinin böyüməsi üçün lazım olan qida mühitində böyüyən bitkilər stress keçirmir və daha keyfiyyətli, daha sağlam və organik qida əldə edirik.</p>
                    
                    <p class="fs-5 fw-bold text-primary">Qidalandırıcı məhlullar necə alınır?</p>
                    <p class="mb-4">Sizi, dəyərli obyekt sahiblərimizi və torpaqsız kənd təsərrüfatı istehsalçılarını hər aspektdə, eləcə də Torpaqsız Kənd Təsərrüfatı Qidalandırıcı Həllərində hər zaman dəstəkləyirik.</p>
                    <p class="mb-4">Peşəkar mühəndislərimizlə hər zaman yanınızdayıq.</p>

                    <p class="fs-5 fw-bold text-primary">Torpaqsız əkinçilik sistemləri üçün avtomatlaşdırma lazımdırmı?</p>
                    <p class="mb-4">Avtomatlaşdırma sistemi, Torpaqsız əkinçilik üçün ilk ehtiyacımız olan gübrə məhlullarının və pH balanslaşdırıcısının avtomatik olaraq istifadə olunacaq su çəninə qidalanaraq sistemə göndərilməsini təmin edir. Torpaqsız kənd təsərrüfatı və akvakultura üçün lazımi vaxtda dozajı dəqiq ölçmələrlə həyata keçirən avtomatlaşdırma sistemi zəruridir. Bu zaman sistemə düzgün təmin etdiyimiz su sayəsində bitki istehsalında yarana biləcək problemlər minimuma endirilir.</p>
                    
                    <p class="fs-5 fw-bold text-primary">Torpaqsız Kənd Təsərrüfatı İstixana Quraşdırma Xərcləri?</p>
                    <p class="mb-4">Quraşdırma xərcləri istixana dizaynına, ümumi ölçüsünə və bir çox parametrlərə görə dəyişir.</p>

                    <p class="mb-4">Zəhmət olmasa, e-poçt göndərməklə və ya bizə zəng etməklə komandamızdan əraziniz üçün təklif tələb edin.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock content %}